:root {
  --main-color: #19c8fa;
  --secondry-color: rgb(15 116 143 / 70%);
  --gray-color: #a2a2a2;
  --section-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 120px;
  border: 1px solid black;
  left: 50%;
  transform: translate(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%);
  border-radius: 50%;
  bottom: -37px;
  border: 1px solid black;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}
.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
.head-content::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--gray-color);
}
.head-content nav {
  flex: 1;
}
.head-content .logo img {
  height: 40px;
}
.head-content nav {
  display: flex;
  color: white;
  justify-content: end;
  align-items: center;
}
.head-content nav ul {
  display: flex;
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .head-content nav ul {
    display: none;
  }
  .head-content nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
  }
  .head-content nav .toggle-menu:hover + ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.head-content nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 40px 10px;
  position: relative;
  z-index: 1;
}
nav ul li a.active,
nav ul li a:hover {
  border-bottom: 1px solid var(--main-color);
}
.head-content .icon {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  margin-left: 30px;
}
.head-content .icon i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-6px);
  right: 0;
}
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/landing.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .landing-content {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--secondry-color);
  padding: 50px;
  color: white;
}
.landing-content .landing-text {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .landing-content {
    width: 100%;
  }
  .landing-content .landing-text {
    max-width: 100%;
  }
}
.landing-content .landing-text h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing-content .landing-text p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-arrow {
  position: absolute;
  top: 50%;
  color: white;
}
.landing .fa-angle-left.change-arrow {
  left: 20px;
}
.landing .fa-angle-right.change-arrow {
  right: 20px;
}
.landing .bullets {
  width: 70px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing .change-arrow {
    display: none;
  }
}
.landing .bullets li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
}
.landing .bullets .active {
  background-color: var(--main-color);
}
.service {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.service-container .serv {
  display: flex;
  margin-bottom: 50px;
}
.service-container .serv .icon {
  margin-right: 40px;
}
.service-container .serv .serv-text h3 {
  margin-bottom: 20px;
  color: var(--main-color);
}
.service-container .serv .serv-text p {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .service-container .serv {
    flex-direction: column;
    text-align: center;
  }
  .service-container .serv .icon {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .service .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}
.design {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/design-features.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.design .design-content {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--secondry-color);
  color: white;
}
.design-content .text {
  padding: 50px;
}

.design-content .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design-content .text ul li {
  padding: 15px 0;
}
.design-content .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
}
.design img {
  position: absolute;
  bottom: -60px;
}
@media (max-width: 767px) {
  .design img {
    display: none;
  }
  .design .design-content {
    width: 100%;
  }
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio-list {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 100px;
}
.portfolio-list li.active {
  background-color: var(--main-color);
  padding: 10px;
  color: white;
}
.portfolio .pics {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio .pics .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .pics .box {
    flex-basis: 25%;
  }
}
.portfolio .pics .box {
  position: relative;
  overflow: hidden;
}
.portfolio .pics .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .pics .box .caption {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 100%;
  transition: 0.3s;
  bottom: -100px;
}
.portfolio .pics .box:hover .caption {
  bottom: 0;
}
.portfolio .pics .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .pics .box .caption h4 {
  font-weight: normal;
  margin-bottom: 20px;
}
.portfolio .pics .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.video-sec {
  position: relative;
}
.video-sec::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 40%);
  position: absolute;
  top: 0;
  left: 0;
}
.video-sec video {
  max-width: 100%;
}
.video-sec .caption {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: var(--secondry-color);
  transform: translateY(-50%);
  text-align: center;
  padding: 50px;
  color: white;
}
.video-sec .caption h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.video-sec .caption p {
  margin-bottom: 30px;
}
.video-sec .caption button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
.about-sec {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about-sec img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .about-sec img {
    position: relative;
    bottom: -60px;
    margin-top: -60px;
  }
}
.stats {
  background-image: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%)),
    url(../images/stats.png);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.stats .container {
  background-color: var(--secondry-color);
  display: flex;
  flex-wrap: wrap;
}
.stats .box {
  padding: 50px;
  color: white;
}
@media (max-width: 767px) {
  .stats .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .box {
    flex-basis: 25%;
  }
}
.stats .box i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
.stats .box p {
  font-size: 14px;
}
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills-content .summary {
  text-align: center;
  margin-bottom: 50px;
}
.skills .col {
  position: relative;
}
@media (max-width: 767px) {
  .skills-content .col {
    flex-basis: 100%;
  }
  .skills-content .col .profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .skills-content .col {
    flex-basis: 45%;
  }
}
.skills-content .profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.skills-content .profile-container p {
  position: relative;
  line-height: 2;
  font-size: 15px;
}

.skills-content .profile-container p::after {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  padding-top: 20px;
  content: "John Doe, CEO";
  width: 100%;
  border-bottom: 1px solid #777;
  color: #777;
  position: absolute;
  bottom: -40px;
  right: 0;
  font-size: 14px;
}
.skills-content .profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.summary h3 {
  font-weight: normal;
  margin-bottom: 50px;
}
.summary p {
  color: #777;
  line-height: 2;
}
.skills-content .col .text {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.skills .col .bullet ul {
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
}
.skills .bullet li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
}
.skills .col .bullet li.active {
  background-color: var(--main-color);
  border: 0;
}
@media (max-width: 767px) {
  .skills .col {
    text-align: center;
    margin-bottom: 50px;
  }
  .skills-content .profile-container img {
    margin-bottom: 20px;
  }
}
.box-one {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  border-right: 40px solid #eee;
  position: relative;
  margin-bottom: 30px;
}
.box-two {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  border-right: 60px solid #eee;
  position: relative;
  margin-bottom: 30px;
}
.box-three {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  border-right: 80px solid #eee;
  position: relative;
  margin-bottom: 30px;
}
.box-one::after {
  position: absolute;
  content: "90%";
  right: -17px;
  top: -40px;
  border-radius: 15%;
  color: white;
  padding: 5px;
  font-size: 14px;
  background-color: black;
}
.box-two::after {
  position: absolute;
  content: "85%";
  right: -17px;
  top: -40px;
  border-radius: 15%;
  color: white;
  padding: 5px;
  font-size: 14px;
  background-color: black;
}
.box-three::after {
  position: absolute;
  content: "80%";
  right: -17px;
  top: -40px;
  border-radius: 15%;
  color: white;
  padding: 5px;
  font-size: 14px;
  background-color: black;
}
.box-one::before {
  position: absolute;
  content: "";
  right: -10px;
  top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.box-two::before {
  position: absolute;
  content: "";
  right: -10px;
  top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.box-three::before {
  position: absolute;
  content: "";
  right: -10px;
  top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: linear-gradient(rgba(0, 0, 0, 60%), rgba(0, 0, 0, 60%)),
    url(../images/quote.jpg);
  background-size: cover;
}
.quote .container {
  text-align: center;
  color: white;
}
.quote .container q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
.quote .container q::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  color: white;
  font-weight: bold;
}
.quote .container q::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  color: white;
  font-weight: bold;
}
/* princing section */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .col {
  background-color: #fcfcfc;
}
.pricing .prices-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  text-align: center;
}
.pricing .prices-content .col {
  display: flex;
  flex-direction: column;
}
.pricing .prices-content .col .main-price {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .prices-content .col .main-price h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.pricing .prices-content .col .main-price h3 + span {
  font-size: 70px;
  font-weight: 800;
  position: relative;
}
.pricing .prices-content .col .main-price h3 + span::before {
  content: "$";
  position: absolute;
  top: 3px;
  left: -30px;
  font-size: 30px;
  font-weight: normal;
}
.pricing .prices-content .col .main-price h3 + span::after {
  content: "/Mo";
  position: absolute;
  bottom: 8px;
  right: -58px;
  font-size: 24px;
  font-weight: 800;
}
.pricing .prices-content .col .features li {
  position: relative;
  padding: 20px;
}
.pricing .prices-content .col .features {
  border-bottom: 1px solid var(--main-color);
}
.pricing .prices-content .col .features li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  border-bottom: 1px solid var(--main-color);
}

.prices-content .col .button a {
  padding: 20px;
  margin: 30px auto;

  display: block;
  width: fit-content;
  text-decoration: none;
  background-color: white;
  border: 1px solid var(--main-color);
}
.pricing .container .contact {
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}
.pricing .container .contact h3 {
  font-weight: normal;
}
.pricing .container .contact a {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: white;
  margin: 15px auto;
  padding: 15px 30px;
  background-color: var(--main-color);
}
/* subscribe section */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),
    url(../images/subscribe.jpg);
  background-size: cover;
}
.subscribe .container {
  display: flex;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
    align-items: center;
  }
  .subscribe p {
    margin: 30px 0 0 0 !important;
  }
}
.subscribe form {
  display: flex;
  border: 1px solid white;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  left: 20px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe form input[type="email"] {
  background: none;
  border: 0;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  text-transform: uppercase;
  border: 0;
  width: 130px;
  padding: 10px 20px;
  color: white;
  background-color: var(--main-color);
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  color: white;
  margin-left: 30px;
  line-height: 2;
}
.subscribe form input[type="email"]::placeholder {
  color: white;
}
.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact-us .data {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-us .data {
    flex-direction: column;
  }
}
.contact-us form {
  flex-basis: 70%;
}
.contact-us form .main-input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}
.contact-us form textarea {
  height: 200px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-us form input[type="submit"] {
  padding: 20px 20px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: var(--main-color);
  margin-left: auto;
  display: flex;
}
.contact-us .contactus-content {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact-us .contactus-content {
    order: -1;
    text-align: center;
    margin-bottom: 20px;
  }
}
.contact-us .contactus-content h3:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-us .contactus-content span {
  display: block;
  margin-bottom: 10px;
}
.contact-us .contactus-content h3:last-of-type {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 70px;
}
.contact-us .contactus-content p {
  line-height: 2;
}
@media (max-width: 767px) {
  .contact-us .contactus-content h3:last-of-type {
    margin-top: 30px;
  }
}
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%)),
    url(../images/subscribe.jpg);
  background-size: cover;
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
}
.footer-content {
  color: white;
  text-align: center;
}
.footer-content img {
  margin-bottom: 20px;
}
.footer-content h3 {
  width: fit-content;
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: 20px;
  margin: 20px auto;
}
.footer-content .social-icons i {
  padding: 10px 15px;
}
.footer-content p {
  margin-top: 60px;
}
.footer-content p span {
  color: var(--main-color);
  font-weight: bold;
}
